In [59]:
import pandas as pd
import numpy as np

df_hosp = pd.read_excel('HospitalDatabase.xlsx',sheet_name = None)
pats=df_hosp['Patients']
amb_visits=df_hosp['AmbulatoryVisits']
re_adm=df_hosp['ReAdmissionRegistry']
discharges=df_hosp['Discharges']
providers=df_hosp['Providers']
ed_unique=df_hosp['EDUnique']

In [19]:
df_hosp = pd.read_excel('HospitalDatabase.xlsx',sheet_name = None)

### 1.Replace all the null values in ReadmissionFlag with 0.

In [20]:
re_adm=df_hosp['ReAdmissionRegistry']
discharges=df_hosp['Discharges']

In [21]:
re_adm["ReadmissionFlag"]=re_adm["ReadmissionFlag"].fillna(0)
re_adm

,AdmissionID,PatientID,AdmissionDate,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,Hospitalist,Kidney Failure,6.717771,0.010046,0.0,NaN,NaN
1,635,2,2018-01-01,2018-01-04 21:28:51.898,Home,General Medicine,Flu,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,General Medicine,Flu,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,General Medicine,Flu,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,Heart Failure,13.650953,0.408898,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,Cardiology,AMI,13.725405,0.388319,0.0,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,Pneumonia,11.355456,0.088518,0.0,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,Hospitalist,Pneumonia,4.819882,0.503308,0.0,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,General Medicine,Flu,3.123064,0.655870,0.0,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,General Medicine,Diabetes,7.195441,0.286439,0.0,NaN,NaN

### 2.Take the ReasonForVisit from user, find the number of patients admitted with that ReasonForVisit.

In [ ]:
Total_count = EDVisits.groupby(['ReasonForVisit'])['PatientID'].count().reset_index(name='PatientCount')
Total_count

### 3. Create a pair plot on whole dataframe by taking parameter "hue" as EDDisposition.

### 4.Find the count of Spanish Speaking patients.

In [166]:
Spanish_count = pats[pats['Language'] == 'Spanish']['PatientID'].count()
print("Count of Spanish Speaking >> " + str(Spanish_count))
#print(Spanish_count)
#(Language = 'Spains'groupby(['Language'])['PatientID'].count()
#Spanish_count.filter(like = 'Spanish').reset_index(name='PatientCount')

Count of Spanish Speaking >> 110

### 5.Connect to sql and write a query to get list of Provider names whose Providername is starting with letter T.  (Attach screenshots for this question)

### 6.Find the list of patients whose ExpectedLOS is greater than the value given by the user.

In [167]:
expLOS=pd.merge(pats,discharges,on='PatientID')
expLOS=expLOS[(expLOS['ExpectedLOS']> float(input("Enter a number")))]
expLOS[['FirstName','LastName','ExpectedLOS']]
#find = input("Enter Some Value: ")
find = float(find)
find1=Disc.query("ExpectedLOS >= @find", engine='python')[['PatientID','ExpectedLOS']]
find1

Enter a number10

      FirstName  LastName  ExpectedLOS
4     Jerrilyn       Kane    13.650953
6     Alexandra     Green    16.472257
8        Granny       Man    14.787084
9          Dean  Kimberly    12.081905
12          Gan        Yu    10.547415
..          ...       ...          ...
708  Ermentrude    Hacard    15.435455
710     Larissa    Gillam    13.323413
714       Myrah    Hegley    10.563688
715  Konopelski     Group    13.725405
716     Chandal     Group    11.355456

[291 rows x 3 columns]


### 7.Create a bar chart between expectedLOS & Primary diagnosis.

### 8.Display patient details where "ReasonForVisit" is either 'Migraine' or 'Pneumonia' and Acuity is 2 or more.

In [182]:
ReasonForVisit = pd.merge(pats,EDVisits,on ='PatientID')

ReasonForVisit=ReasonForVisit[(ReasonForVisit.Acuity >= 2)&((ReasonForVisit.ReasonForVisit=='Migraine') | (ReasonForVisit.ReasonForVisit == 'Pneumonia'))]
ReasonForVisit[['PatientID','FirstName','LastName','DateOfBirth','Gender','Language','ReasonForVisit','Acuity']]

,PatientID,FirstName,LastName,DateOfBirth,Gender,Language,ReasonForVisit,Acuity
4,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,English,Migraine,3
18,7,Skipton,Bar,1975-11-25 22:23:53.525,Male,English,Migraine,2
20,8,Alexandra,Green,1967-06-16 16:37:21.694,Male,English,Migraine,2
24,10,Granny,Man,1969-09-15 11:20:42.218,Male,English,Migraine,2
27,12,Zonnya,Ab,1963-05-23 10:04:33.074,Male,Spanish,Migraine,2
...,...,...,...,...,...,...,...,...
1166,913,Alta,McGrath,1973-02-09 04:11:58.220,Female,English,Pneumonia,4
1168,915,Jerrilyn,Dyson,1978-01-18 02:41:55.178,Female,English,Migraine,3
1169,916,Kaylil,Baldack,1966-11-17 14:10:35.224,Female,English,Pneumonia,4
1170,917,Velvet,Bushnell,1965-11-13 07:26:58.889,Female,English,Pneumonia,2
1171,918,Kiri,Allom,1960-09-05 13:21:10.008,Female,English,Pneumonia,5

### 9.Using numpy functions, multiply the following arrays
## a=np.arange(6).reshape(2,3)
## b=np.arange(6).reshape(3,2)"

In [169]:
ReasonForVisit =pd.merge(pats,EDVisits,on='PatientID')
ReasonForVisit=ReasonForVisit[(ReasonForVisit.Acuity >= 2)&((ReasonForVisit.ReasonForVisit=='Migraine') | (ReasonForVisit.ReasonForVisit == 'Pneumonia'))]
##r[['FirstName','LastName','ReasonForVisit']]
ReasonForVisit

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,EDVisitID,VisitDate,EDDischargeTime,Acuity,ReasonForVisit,EDDisposition
4,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English,55,2020-01-01 15:01:29.846,2020-01-01 23:11:53.864,3,Migraine,Admitted
18,7,Skipton,Bar,1975-11-25 22:23:53.525,Male,White,English,98,2020-01-02 01:33:47.283,2020-01-02 11:36:20.129,2,Migraine,Discharged
20,8,Alexandra,Green,1967-06-16 16:37:21.694,Male,White,English,8,2020-01-01 01:15:35.564,2020-01-02 00:07:24.636,2,Migraine,Discharged
24,10,Granny,Man,1969-09-15 11:20:42.218,Male,White,English,10,2020-01-01 02:02:03.160,2020-01-01 08:28:27.128,2,Migraine,Discharged
27,12,Zonnya,Ab,1963-05-23 10:04:33.074,Male,White,Spanish,12,2020-01-01 02:45:40.302,2020-01-02 02:00:00.517,2,Migraine,Admitted
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166,913,Alta,McGrath,1973-02-09 04:11:58.220,Female,Black/African-American,English,1167,2020-01-15 05:09:22.987,2020-01-16 03:57:13.244,4,Pneumonia,Admitted
1168,915,Jerrilyn,Dyson,1978-01-18 02:41:55.178,Female,Black/African-American,English,1169,2020-01-15 05:30:02.889,2020-01-15 18:47:12.044,3,Migraine,Admitted
1169,916,Kaylil,Baldack,1966-11-17 14:10:35.224,Female,Black/African-American,English,1170,2020-01-15 05:57:29.834,2020-01-15 06:03:50.631,4,Pneumonia,Admitted
1170,917,Velvet,Bushnell,1965-11-13 07:26:58.889,Female,Black/African-American,English,1171,2020-01-15 06:27:24.353,2020-01-15 10:16:03.795,2,Pneumonia,Admitted
1171,918,Kiri,Allom,1960-09-05 13:21:10.008,Female,Black/African-American,English,1172,2020-01-15 06:51:43.655,2020-01-15 16:27:42.410,5,Pneumonia,Admitted

### 10.Display data by splitting age in 4 quartiles and labeling the quartiles.

### 11.Calculate average LOS.

In [183]:
AVg =(discharges['DischargeDate']-discharges['AdmissionDate']).dt.days.mean()
AVg

9.534722222222221

### 12.Create a dataframe with date and time as columns, where the values are the discharge time from readmissionregistry sheet.

In [170]:
(re_adm['DischargeDate']).dt.date
#re_adm['time']= re_adm['DischargeDate'].dt.time
#re_adm['time']
##re_adm['time']= pd.to_datetime(re_adm['DischargeDate']).dt.time
##re_adm['date']= pd.to_datetime(re_adm['DischargeDate']).dt.date
##df = [re_adm['time'],re_adm['date']]
##df1 = pd.concat(df)
##df1

0      2018-01-04
1      2018-01-04
2      2018-01-04
3      2018-01-05
4      2018-01-05
          ...
715    2018-03-07
716    2018-03-08
717    2018-03-08
718    2018-03-10
719    2018-03-10
Name: DischargeDate, Length: 720, dtype: object

In [108]:
df = re_adm.assign(
    new_date=re_adm["DischargeDate"].dt.date, 
    new_time=re_adm["DischargeDate"].dt.time
)
df

,AdmissionID,PatientID,AdmissionDate,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag,time,date,new_date,new_time
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,Hospitalist,Kidney Failure,6.717771,0.010046,0.0,NaN,NaN,19:59:31.391000,2018-01-04,2018-01-04,19:59:31.391000
1,635,2,2018-01-01,2018-01-04 21:28:51.898,Home,General Medicine,Flu,3.825969,0.604562,1.0,2.0,1.0,21:28:51.898000,2018-01-04,2018-01-04,21:28:51.898000
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,General Medicine,Flu,3.382493,0.266137,1.0,3.0,1.0,22:28:23.672000,2018-01-04,2018-01-04,22:28:23.672000
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,General Medicine,Flu,3.763352,0.307527,1.0,4.0,1.0,05:47:04.933000,2018-01-05,2018-01-05,05:47:04.933000
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,Heart Failure,13.650953,0.408898,0.0,NaN,NaN,14:18:30.029000,2018-01-05,2018-01-05,14:18:30.029000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,Cardiology,AMI,13.725405,0.388319,0.0,NaN,NaN,21:22:10.061000,2018-03-07,2018-03-07,21:22:10.061000
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,Pneumonia,11.355456,0.088518,0.0,NaN,NaN,02:43:18.749000,2018-03-08,2018-03-08,02:43:18.749000
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,Hospitalist,Pneumonia,4.819882,0.503308,0.0,NaN,NaN,09:27:18.377000,2018-03-08,2018-03-08,09:27:18.377000
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,General Medicine,Flu,3.123064,0.655870,0.0,NaN,NaN,06:06:12.068000,2018-03-10,2018-03-10,06:06:12.068000
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,General Medicine,Diabetes,7.195441,0.286439,0.0,NaN,NaN,20:38:30.568000,2018-03-10,2018-03-10,20:38:30.568000

### 13.Violin plot for Level of Acuity by Visit Reason

### 14.Write a code snippet to print different ProviderSpecialty ( use groupby and get the list of the groups).

In [174]:
providers.groupby(['ProviderSpecialty'])['ProviderID'].count().reset_index(name='List_of_group')

  ProviderSpecialty  List_of_group
0        Cardiology              8
1        Pediatrics              9
2       PrimaryCare             16
3           Surgery              7

### 15.Count of canceled status.

In [134]:
amb_visits=df_hosp['AmbulatoryVisits']

In [179]:
amb_visits.query("VisitStatus == 'Canceled'").groupby(['VisitStatus'])['VisitID'].count().reset_index(name='Count of Canceled')

  VisitStatus  Count of Canceled
0    Canceled                 60

### 16. Display total count of patients service wise based on gender.

In [178]:
service_provided = pd.merge(pats,discharges,on = 'PatientID')
service_provided =service_provided.groupby(['Gender','Service'])['PatientID'].count() 
service_provided

Gender  Service
Female  Cardiology           41
        General Medicine    114
        Hospitalist          35
        ICU                  65
        Neurology            34
        Orthopeadics         22
Male    Cardiology           54
        General Medicine    149
        Hospitalist          66
        ICU                  86
        Neurology            31
        Orthopeadics         23
Name: PatientID, dtype: int64

### 17. Plot a graph to count the patients based on discharge disposition.

### 18.Display the data where actual LOS is greater than expected LOS.

In [ ]:
discharges['AdmissionDate']-discharges['DischargeDate']

### 19.Display the average LOS based on Service and Discharge Disposition(Maintain the column Hierarchy).

### 20.Display using a donut chart the patient count in the ReAdmissionRegistry.