In [4]:
import pandas as pd

In [5]:
ReAdmissionRegistry = pd.read_excel("HospitalDatabase.xlsx",'ReAdmissionRegistry' )
ReAdmissionRegistry
EDVisits = pd.read_excel("HospitalDatabase.xlsx",'EDVisits' )
EDVisits
Patients = pd.read_excel("HospitalDatabase.xlsx",'Patients')
Patients

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English
...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761,Male,Black/African-American,English
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814,Male,Black/African-American,English
942,943,Diahann,Smeeton,1983-01-08 21:49:27.884,Male,Black/African-American,English
943,944,Panchito,Sharple,1963-06-05 07:57:05.569,Male,Black/African-American,English
944,945,Walsh,Calvie,1972-08-06 03:40:03.454,Male,Black/African-American,English

### 1.Replace all the null values in ReadmissionFlag with 0.

In [36]:
ReAdmissionRegistry["ReadmissionFlag"]=ReAdmissionRegistry["ReadmissionFlag"].fillna(0)
ReAdmissionRegistry

,AdmissionID,PatientID,AdmissionDate,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ReadmissionFlag,DaysToReadmission,EDVisitAfterDischargeFlag
0,389,1,2018-01-01,2018-01-04 19:59:31.391,Home,Hospitalist,Kidney Failure,6.717771,0.010046,0.0,NaN,NaN
1,635,2,2018-01-01,2018-01-04 21:28:51.898,Home,General Medicine,Flu,3.825969,0.604562,1.0,2.0,1.0
2,606,3,2018-01-01,2018-01-04 22:28:23.672,Home,General Medicine,Flu,3.382493,0.266137,1.0,3.0,1.0
3,587,5,2018-01-01,2018-01-05 05:47:04.933,Home,General Medicine,Flu,3.763352,0.307527,1.0,4.0,1.0
4,640,6,2018-01-01,2018-01-05 14:18:30.029,Home,ICU,Heart Failure,13.650953,0.408898,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
715,521,738,2018-02-22,2018-03-07 21:22:10.061,Home,Cardiology,AMI,13.725405,0.388319,0.0,NaN,NaN
716,548,739,2018-02-22,2018-03-08 02:43:18.749,Home,ICU,Pneumonia,11.355456,0.088518,0.0,NaN,NaN
717,509,740,2018-02-22,2018-03-08 09:27:18.377,Home,Hospitalist,Pneumonia,4.819882,0.503308,0.0,NaN,NaN
718,605,741,2018-02-22,2018-03-10 06:06:12.068,Home,General Medicine,Flu,3.123064,0.655870,0.0,NaN,NaN
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,General Medicine,Diabetes,7.195441,0.286439,0.0,NaN,NaN

### 2.Take the ReasonForVisit from user, find the number of patients admitted with that ReasonForVisit.

In [82]:
Total_count = EDVisits.groupby(['ReasonForVisit'])['PatientID'].count().reset_index(name='PatientCount')
Total_count

         ReasonForVisit  PatientCount
0              Accident            39
1              Bleeding            31
2          Car Accident            17
3            Chest Pain           109
4                 Cough             1
5                 Fever           234
6              Gun Shot            16
7          Intoxication            30
8            Laceration            30
9              Migraine           156
10            Pneumonia           201
11  Shortness of Breath           149
12         Stomach Ache           186

### 3. Create a pair plot on whole dataframe by taking parameter "hue" as EDDisposition.

### 4.Find the count of Spanish Speaking patients.

In [87]:
Spanish_count = Patients.groupby(['Language'])['PatientID'].count()
Spanish_count.filter(like = 'Spanish').reset_index(name='PatientCount')

  Language  PatientCount
0  Spanish           110

### 5.Connect to sql and write a query to get list of Provider names whose Providername is starting with letter T.  (Attach screenshots for this question)

### 6.Find the list of patients whose ExpectedLOS is greater than the value given by the user.

In [6]:
ReAdmissionRegistry['AdmissionDate'-'DischargeDate']

TypeError: unsupported operand type(s) for -: 'str' and 'str'